body {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: -50px;
}

.header {
    font-family: "Secular One", sans-serif;
    font-size: 45px;
    color: white;
    position: relative;
}
.info{
     font-size: 12px;
    font-weight: 300px;
    font-family: "Lora", serif;
     color: white;
    
}
a:link { text-decoration: none;}
a{
    color: white;
}
/*--parallax scrolling--*/

.section {
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100vh;
    letter-spacing: 4px;
    overflow: visible;
    clip: rect(0, auto, auto, 0);
}

.section .fixed {
    overflow: visible;
    position: fixed;
    left: 50%;
    right: 4%;
    top: 30%;
}

/*--title section--*/

.section:nth-child(1) {
    top: 0;
    z-index: 1;
    background: linear-gradient(to right,
            #e32e25 0%,
            #e32e25 50%,
            #8fd3cc 50%,
            #8fd3cc 100%);
    font-family: "Lora", serif;
    font-family: "Secular One", sans-serif;
}

.section:nth-child(1) .fixed {
    transform: translate(-100%, -80%);
}

.title {
    text-align: left;
    overflow: visible;
    position: relative;
    top: 32vh;
    left: -1vw;
    color: white;
    font-size: 70px;
    line-height: 0.9;
}

.description {
    position: relative;
    font-family: "Lora", serif;
    color: white;
    top: 55vh;
    left: -1vw;
    font-size: 15px;
}

.figure {
    position: relative;
    top: 1vh;
    left: 58vw;
    width: 37%;
}

.figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

.figure .image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s;
}

.figure:hover .image-hover {
    opacity: 1;
}

/*--about the author/book section--*/

.section:nth-child(2) {
    top: 100vh;
    z-index: 2;
    background: linear-gradient(to left,
            #f4e5a5 0%,
            #f4e5a5 50%,
            #8fd3cc 50%,
            #8fd3cc 100%);
}

.section:nth-child(2) .fixed {
    transform: translate(-10%, -50%);
}

.title-2 {
    overflow: visible;
    margin-left: 100px;
    margin-right: 100px;
    left: 3vw;
}

.title-3 {
    position: relative;
    overflow: visible;
    margin-left: 434px;
    margin-right: 434px;
    left: 29vw;
    top: -12vh;
}

.book-cover {
    position: relative;
    top: -14vh;
    left: 14vw;
    width: 20%;
}

.book-info {
    overflow: visible;
    position: relative;
    color: white;
    left: -25vw;
    top: -13vh;
    text-align: center;
    font-size: 17px;
    font-weight: 300px;
    font-family: "Lora", serif;
}

.book-info-2 {
    overflow: visible;
    position: relative;
    color: white;
    left: -25vw;
    top: -13vh;
    text-align: center;
    font-size: 12px;
    font-weight: 300px;
    font-family: "Lora", serif;
}

.author-info {
    color: white;
    font-family: "Lora", serif;
    position: absolute;
    top: 72.2vh;
    left: 92vh;
    text-align: center;
    font-size: 17px;
}

.figure2 {
    position: absolute;
    top: 14vh;
    left: 66vw;
    width: 20%;
}

.figure2 img {
    display: block;
    max-width: 100%;
    height: auto;
}

.figure2 .image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s;
}

.figure2:hover .image-hover {
    opacity: 1;
}

.author-info-2 {
    overflow: visible;
    position: absolute;
    text-align: center;
    color: white;
    top: 89vh;
    left: 108vh;
    font-size: 12px;
    font-weight: 300px;
    font-family: "Lora", serif;
}

/*--episodes section--*/

.section:nth-child(3) {
    background: #e32e25;
    top: 200vh;
    z-index: 3;
}

.section:nth-child(3) .fixed {
    transform: translate(-20%, -28%);
}

.title-4 {
    overflow: visible;
    position: relative;
    left: -1vw;
    top: 27vh;
    font-size: 20px;
    font-family: "Lora", serif;
}
.header-2 {
    font-family: "Secular One", sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
}
.button{
    overflow: hidden;
  border-radius: 20px;
  margin: 10% 10%;
  padding: 35px;
  width: 500px;
  height: 15px;
  background: #8fd3cc;
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
}

.button:hover{
     overflow: hidden;
    
  background: #f4e5a5;
  transform: translateX(20px);
}

.button-video{
    background: #be4410;
    margin-left: 50%;
    width: 30%;
    height: 40%;
    display: none;
}

.buttonActive{
    background: #8fd3cc;
}

.videoActive{
    display: block;
}
.button-group-1{
    position: relative;
    left: -40vw;
    top: 24vh;
}
.button-group-2{
    position: relative;
    left: 11vw;
    top: -72vh;
}

.popvideo{
    display: none;
}
/*--meet the interviewees section--*/

.section:nth-child(4) {
    background: #8fd3cc;
    top: 300vh;
    z-index: 4;
}

.section:nth-child(4) .fixed {
    transform: translate(-40%, -25%);
}

.title-6 {
    text-align: right;
    overflow: visible;
    position: absolute;
    left: 73vw;
    top: 5vh;
    font-size: 17px;
    font-family: "Lora", serif;
    line-height: 1.3;
}

.title-5 {
    text-align: right;
    overflow: visible;
    position: absolute;
    top: 35vh;
   left: 62vw;
    color: white;
    font-size: 70px;
    line-height: 0.9;
}

.img {
    width: 135px;
    height: 23vh;
}

.grid-container {
    position: absolute;
    top: 3.4vh;
    left: 6vw;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    justify-content: start;
}

.img:hover {
  border: solid 3px white;
  margin: -3px;
}
.set {
    overflow: visible;
    position: absolute;
    top: 5vh;
    left: 49vw;
    color: white;
    font-size: 40px;
}

.set-2 {
    position: absolute;
    left: 48.7vw;
    top: 12vh;
    width: 48%;
}

.set-3 {
    overflow: visible;
    position: absolute;
    color: white;
    top: 70vh;
    left: 48.6vw;
    text-align: left;
    font-size: 14px;
    font-weight: 300px;
    font-family: "Lora", serif;
    word-spacing: -1px;

}
.name{
       position: absolute;
   left: 48.6vw;
}
.bio-pic-6 {
    display: block;
    max-width: 100%;
    height: auto;
}

.bio-pic-6-1 {
    opacity: 0;
    transition: opacity 1s;
}

.bio-pic-6-1:hover {
    opacity: 1;
}
/*FAQ*/
.section:nth-child(5) {
     background: linear-gradient(to left,
           #FF7F50 0%,
           #FF7F50 50%,
             #f4e5a5 50%,
         #f4e5a5 100%);
    top: 400vh;
    z-index: 5;
}

.section:nth-child(5) .fixed {
    transform: translate(20%, -50%);
}

.title-7 {
    position: relative;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    left: -6.5vw;
    top: -3vh;
    font-size: 41px;
    
}
.button-2{
    overflow: hidden;
  border-radius: 20px;
  margin: 2% 2%;
  padding: 35px;
  width: 540px;
  height: 15px;
  background:  #FF7F50;
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
}

.button-2:hover{
     overflow: hidden;
    
  background: #DF362D;
  transform: translateX(20px);
}
.button-group-3{
    position: relative;
    top:2vh;
}
/*LAST PAGE*/
.section:nth-child(6) {
    background: #DF362D;
    top: 500vh;
    z-index: 5;
}

.section:nth-child(6) .fixed {
    transform: translate(20%, -50%);
}

.title-8{
    position: relative;
    top: -1vh;
    left:40vw;
}
.title-answer {
    position: absolute;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    left: 45vw;
    top: 25vh;
    font-size: 41px;
    
}
.set-4 {
    overflow: visible;
    position: absolute;
    color: white;
    top: 35vh;
    left: 52vw;
    text-align: left;
    font-size: 20px;
    font-weight: 300px;
    font-family: "Lora", serif;

}
